/Business.Tests
/TestingDAL
/packages
/MvcUi/bin/MvcUi/Content/logs
/MvcUi/obj
/TeamProject.DAL/bin
/TeamProject.DAL/obj
/MvcUi/bin
/BLL/bin
/BLL/obj
/Business.Tests/obj
/Business.Tests/bin
/Business.Tests/Properties
