@{
    ViewBag.Title = "Page 4. End of work.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Last Page</h2>
<hr>
<div class="item">
    <img src="../Images/smile.jpg" /><br>
</div>

@Html.ActionLink("Go to Page 2", "Index", "Movie")
