@model IEnumerable<BLL.ViewModels.Movie.MovieModel>
@{
    ViewBag.Title = "Page2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Page2</h2>
@*ajax form is needed!*@

<h2>5 Movies:</h2>
<div class="movies5">
@{Html.RenderPartial("List5",Model);}
</div>

@using (Html.BeginForm())
{
    <div>
        @Html.TextBox("name")
        <button type="submit">Отобразить</button>
    </div>
}

@* в какой вьюхе это должно лежать? *@
@using (Html.BeginForm("Create", "Movie", FormMethod.Post))
{
    <p>Input name of movie: </p>
    @Html.TextBox("Name", "Input name")
    <p>Input release year:</p>
    @Html.TextBox("ReleaseYear", "Input year")
    <p><input type="submit" value="Save" /></p>
}


